html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

h1 {
  position: absolute;
  top: 145px;
  left: 80px;
  font-weight: bold;
  font-size: 42px;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  color: #00D930;
  -webkit-text-stroke: 1px #232724;
}

h2 {
  position: absolute;
  top: 210px;
  left: 80px;
  font-weight: bold;
  font-size: 30px;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  color: #00D930;
  -webkit-text-stroke: 1px #232724;
}

heading.site-heading {
  display: block;
  width: 100%;
  height: 52px;
  background-color: /*#34313F*/ white;
  padding-top: 10px;
  border-bottom: 1px solid rgba(52, 49, 63, 1);
  -webkit-box-shadow: inset 0px -1px 1px 0px rgba(51,46,68,.75);
  -moz-box-shadow: inset 0px -1px 1px 0px rgba(51,46,68,.75);
  box-shadow: inset 0px -1px 1px 0px rgba(51,46,68,.75);
}

div.text-logo {
  position: absolute;
  top: 16px;
  margin-left: 10%;
}

.text-logo img {
  width: 75%;

}

a#username {
  display: inline-block;
  color: /*#ffffff*/ #34313F;
  text-decoration: none;
  font-size: 13px;
  margin-left: 90%;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

main.main-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 91.3%;
  background-size: 185%;
  font-size: 0;
  background-image: url("UsedImages/unsplash_lion1.jpg");
  opacity: 0.9;
}

section.onboarding-entry {
  /*visibility: hidden;*/
  height: 45%;
  width: 35%;
  margin-right: 49%;
  margin-top: 200px;
  opacity: 0.8;
  /*border: 1px solid pink;*/
}

form#onboarding1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

div.inputgroup-row {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
}

input#user-first-name {
  display: flex;
  order: 1;
  margin-right: 40px;
}

input#user-password1 {
  display: flex;
  order: 1;
  margin-right: 40px;
}

input#user-email {
  display: flex;
  order: 1;
  margin-right: 40px;
}


#onboarding1 input {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  box-shadow:inset 0px 0px 5px 0px rgba(42,42,42,.50);
  font-size: 16px;
  padding: 6px;
  border-radius: 10px;
  font-weight: normal;
  font-family: sans-serif;
}

#onboarding1 input:focus {
  outline: none;
}

#date-label {
  position: absolute;
  bottom: 220px;
  left: 375px;
  font-size: 11px;
  color: white;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

input#create-account {
  width: 100%;
  margin-right: 14%;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #00D930;
  padding: 8px 30px 8px 30px;
  border: 1px solid black;
}

input#create-account:hover {
  background: #2B803E;
  text-decoration: none;
}


/*HOME.HTML DASHBOARD PAGE*/
/* ------------------------- */

main.dashboard-page-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 91.3%;
  font-size: 0;
  background-size: 100%;
  /*background-color: #34313F;*/
  background-image: url("UsedImages/ocean_sunrise.jpeg");
  opacity: 1;
}

section.dashboard-frame {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 550px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
}

nav.dashboard-top-nav {
  width: 1100px;
  height: 36px;
  /*background-color: rgb(217, 210, 212);*/
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #34313F;
}

ul.dashboard-categories {
  display: flex;
  flex-flow: row nowrap;
  width: 1100px;
  height: 36px;
}

.dashboard-categories li {
  display: flex;
  width: 33.33333%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /*font-size: 18px;*/
  font-size: 20px;
  color: white;
  -webkit-text-stroke: .8px #232724;
  font-weight: bold;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  /*color: black;*/
  border-right: 1px solid #34313F;
}

.dashboard-categories li:hover {
  font-size: 20px;
  color: white;
  -webkit-text-stroke: .8px #232724;
}

/*li#overview-category {
  background-color: rgba(154, 158, 167, 0.65);
  border-top-left-radius: 15px;
  color: black;
  -webkit-text-stroke: .8px #232724;
  font-size: 20px;
}

li#overview-category:hover {
  background-color: rgba(154, 158, 167, 0.2);
}*/

li#sleep-category {
  background-color: rgba(62, 21, 195, 1);
  border-top-left-radius: 15px;
}

li#sleep-category:hover {
  background-color: rgba(62, 21, 195, 0.5) !important;
}

li#nutrition-category {
  background-color: rgba(43, 128, 62, 1);
}

li#nutrition-category:hover {
  background-color: rgba(43, 128, 62, 0.5) !important;
}

li#exercise-category {
  background-color: rgba(220, 11, 35, 1);
  border-top-right-radius: 15px;
  border-style: none;
}

li#exercise-category:hover {
  background-color: rgba(220, 11, 35, 0.5) !important;
}

/* Sub-Menu Styles */
/* ------------------------- */

nav.dashboard-bottom-nav {
  width: 1100px;
  height: 30px;
  /*background-color: rgb(217, 210, 212);*/
  border-bottom: 1px solid #34313F;
}

ul.dashboard-sub-menu {
  display: flex;
  flex-flow: row nowrap;
  width: 1100px;
  height: 30px;
}

.dashboard-sub-menu li {
  display: flex;
  width: 25%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  border-right: 1px solid #34313F;
}

li.sub-overview {
  background-color: white;
}

li.sub-overview:hover {
  background-color: white !important;
}

li.sub-update {
  background-color: rgba(205, 205, 205, 0.5);
}

li.sub-update:hover {
  background-color: white !important;
}

li.sub-goals {
  background-color: rgba(205, 205, 205, 0.5);
}

li.sub-goals:hover {
  background-color: white !important;
}

li.sub-log {
  background-color: rgba(205, 205, 205, 0.5);
}

li.sub-log:hover {
  background-color: white !important;
}
